/*-----------------------------------------
Variables
-----------------------------------------*/
$eh-gray: rgba(106, 106, 106, 1);
$eh-blue: rgba(162, 213, 213, 1);
$eh-cream: rgba(245,245,245,1);

/*-----------------------------------------
Body
-----------------------------------------*/
* {
  box-sizing: border-box;
}

html, body {
  text-align: center;
  color: $eh-gray;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  overflow-x: hidden;
}

h1 {
  font-weight: 100;
}

a {
  text-decoration: none;
  color: $eh-gray;
}

a:hover {
 color: darken($eh-blue, 20%); 
}

.title {
  color: $eh-gray;
  font-size: 2em;
  display: block;
  font-weight: 300;
}

.btn-default {
  background-color: $eh-blue;
  color: $eh-cream;
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 300;
}

.btn-default > a {
  color: $eh-cream;
}

.btn-default:hover {
  background-color: darken($eh-blue, 20%);
  cursor: pointer;
}

/*-----------------------------------------
Nav
-----------------------------------------*/

#nav-container.affix {
  position: fixed;
  top: 0;
  width: 100%;
}

#nav-container {
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  text-align: left;
  width: 100%;
  position: absolute;
  background-color:  $eh-cream;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#logo {
  width: 50px;
  height: 45px;
  display: inline-block;
  top: 0;
}

/*collapse nav*/

a.menu-link {
  float: left;
  display: block;
  padding: 10px;
  img {
    height: 30px;
    width: 30px;
  }
}
nav {
  clear: both;
  -webkit-transition: all 0.3s ease-out;  
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.js nav {
  overflow: hidden;
  max-height: 0;
}
nav.active {
  max-height: 15em;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li a {
  display: block;
  padding: 1.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
}
    
@media screen and (min-width: 768px) {
  a.menu-link {
     display: none;
  }
  .js nav {
    max-height: none;
  }
  nav ul {
    margin: 0 0 0 -0.25em;
    border: 0;
  }
  nav li {
    display: inline-block;
    margin: 0 0.25em;
  }
}

.anchor-nav {
  text-align: left;
  position: fixed;
  // width: 100%;
  top: 5px;
  left: 3px;
  z-index: 10;
  display: block;
  img {
    height: 40px;
    width: 40px;
  }
}


.anchor-nav-bg.affix {
  position: fixed;
  top: 0;
  width: 100%;
}

.anchor-nav-bg {
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  text-align: left;
  width: 100%;
  min-width: 100vw;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background-color:  $eh-cream;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/*-----------------------------------------
Animations
-----------------------------------------*/

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(.9);
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
    -ms-transform: scale(.3);
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes pulse { 
  50% { 
    -webkit-transform-origin: 0px 0px;
    -webkit-transform: scaleX(1.08); 
  } 
}

@keyframes pulse {
  50% {
    transform-origin: 0px 0px;
    transform: scaleX(1.08);
  }
}

.bounceIn {
  visibility: visible !important;
  -webkit-animation-name: bounceIn;
  -webkit-animation-duration: 1.6s;
  animation-name: bounceIn;
  animation-duration: 1.6s;
}

@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
  -webkit-animation-duration: 1.6s;
  visibility: visible !important;
}

.fade-in {
    -webkit-animation: fadein 1.5s; /* Safari and Chrome */
       -moz-animation: fadein 1.5s; /* Firefox */
        -ms-animation: fadein 1.5s; /* Internet Explorer */
            animation: fadein 1.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​


/*-----------------------------------------
Home
-----------------------------------------*/
.home {
  width: 100vw;
  height: 100vh;
  /*display: table;*/
  position: relative;
}

#blackBackdrop {
  background: -webkit-linear-gradient(90deg, #283048 10%, #859398 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #283048 10%, #859398 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #283048 10%, #859398 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #283048 10%, #859398 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #283048 10%, #859398 90%); /* W3C */
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#landing-content {
  position: absolute;
  top: 0;
  background-image: url(../img/fractal1_fill.svg);
  opacity: .4;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  -webkit-animation: pulse 7s ease-in infinite;
  -moz-animation: pulse 7s ease-in infinite;
  animation: pulse 7s ease-in infinite;
}

#movement2 {
  position: absolute;
  background-image: url(../img/fractal2_fill.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 900px;
  width: 800px;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation: pulse 5s ease infinite;
  -moz-animation: pulse 5s ease infinite;
  animation: pulse 5s ease infinite;
  pointer-events: none;
}

#movement3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/fractal3_fill.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 900px;
  width: 1300px;
  -webkit-animation: pulse 5s ease-in infinite;
  -moz-animation: pulse 5s ease-in infinite;
  animation: pulse 5s ease-in infinite;
  pointer-events: none;
}

#introText {
  width: 80vw;
  height: 100%;
  position: relative;
  margin: 0 auto;
  visibility: hidden;
}

#introName {
  height: auto;
  width: 80%;
  min-width: 250px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.5em;
  color: $eh-cream;
}

#introName img {
  width: 100%;
}

#scroll {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 10px;
  height: 75px;
  width: 75px;
  z-index: 10;
  display: block;
  &:hover {
  	cursor: pointer;
  }
}

/*-----------------------------------------
Services
-----------------------------------------*/
#services {
  color: rgba(106, 106, 106, 1);
  width: 100vw;
  height: 500px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $eh-cream;
  display: table;
}

#servicesContainer {
  width: 75%;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 16pt;
}

.servicesIcon {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 5%;
  /*opacity: 0;*/
  visibility: hidden;
  img {
    height: 140px;
    width: 140px;
  }
}

/*-----------------------------------------
Portfolio
-----------------------------------------*/

#works {
  min-width: 100vw;
  width: 100%;
  height: auto;
  display: table;
}

#portfolioContainer a {
  color: $eh-cream;
  text-decoration: none;
  border: none;
}

.overlay {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  font-size: 19pt;
  img {
    width: 100%;
    height: 100%;
  }
}

.overlay:after {
  box-sizing: border-box;
  color: $eh-gray;
  text-align: center;
  font-size: 2em;
  position: absolute;
  padding-top: 42%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(40, 49, 72, 0.9);
  opacity: 1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  content: attr(data);
  @media only screen and (min-width: 0px) and (max-width: 768px) {
    font-size: 1em;
  }
}

.overlay:hover:after {
  background-color: rgba(82, 133, 133, 0.7);
  color: $eh-cream;
}


/*-----------------------------------------
Portfolio Pages
-----------------------------------------*/
.portfolio-header {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  &.mediahound {
    background-image: url(../img/mediahound-portfolio-1.jpg);
  }
  &.peek {
    background-image: url(../img/peek1.jpg);
  }
  &.stylelust {
    background-image: url(../img/StyleLust1.jpg);
  }
  &.pillstagram {
    background-image: url(../img/pillstagram2.png);
  }
  &.muselab {
    background-image: url(../img/muselab.png);
  }
  &.inbetween {
    background-image: url(../img/inBetween.png);
  }
  &.goldghost {
    background-image: url(../img/GoldGhost.jpg);
  }
  &.geospec {
    background-image: url(../img/GeoSpec.jpg);
  }
  &.house {
    background-image: url(../img/houseicon.gif);
  }
}

.header-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(40, 49, 72, 0.9);
  content: '';
  .header-title {
    color: $eh-cream;
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-align: left;
  }
}

.portfolio-description {
  padding: 20px;
  text-align: left;
}

.portfolio-full-image {
  width: 60%;
  height: auto;
  margin-bottom: 50px;
}

/*-----------------------------------------
About
-----------------------------------------*/
#about {
  width: 100vw;
  height: auto;
  clear: both;
  display: table;
  background: -webkit-linear-gradient(90deg, #283048 10%, #859398 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #283048 10%, #859398 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #283048 10%, #859398 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #283048 10%, #859398 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #283048 10%, #859398 90%); /* W3C */ 
  background-size: 150% 100%;
  color: $eh-cream;
  padding-top: 5%;
  -webkit-animation: animateGradient 3s alternate infinite;
  animation: animateGradient 3s alternate infinite;
}

#aboutSection {
  width: 50%;
  min-width: 250px;
  margin: 0 auto;
  margin-bottom: 50px;
}

#about>.title {
  color: $eh-cream;
}

#aboutImage {
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.aboutDescription {
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 18pt;
  text-align: justify;
  line-height: 28pt;
  @media screen and (max-width: 768px) {
    text-align: left;
    font-size: 14pt;
  }
}

/*-----------------------------------------
Skills
-----------------------------------------*/
#skills {
  width: 100%;
  height: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  display: table;
  background-color: $eh-cream;
  position: relative;
}

#skillSection {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.skillTitle {
  text-align: left;
  padding-left: 15px;
  h6 {
    margin-bottom: 0px;
  }
  ul {
    list-style: none;
    padding-left: 0px;
  }
}

#resume {  
  margin: 0 auto;
  font-size: 14pt;
  clear: both;
  padding-bottom: 50px;
}

/*-----------------------------------------
Contact
-----------------------------------------*/
#contact {
  position: relative;
  width: 100vw;
  height: 400px;
  padding-top: 5%;
  padding-bottom: 5%;
  display: table;
  background-color: $eh-cream;
}


@keyframes animateGradient {
  0%{
    background-position: 0%;
  }
  
  100%{
    background-position: 100%;
  }
}

@-webkit-keyframes animateGradient {
    0%{
    background-position: 0%;
  }
  
  100%{
    background-position: 100%;
  }
}
/*end*/

#contactContainer {
  width: 80%;
  min-width: 300px;
  margin: 0 auto;
  padding: 2%;
  font-size: 16pt;
  text-align: left;
}

.social-container {
  text-align: right;
  a {
    height: 100%;
    width: 100%;
    display: inline-block;
  }
}

.social-icons {
  display: inline-block;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  &:hover {
    opacity: 0.6;
  }
}

.tumblr {
  background: url(../img/portfolio-spritesheet.png) no-repeat 0 0;
  width: 36px;
  height: 36px;
  background-size: 400% 100%;
}

.linkedin {
  background: url(../img/portfolio-spritesheet.png) no-repeat 33% 0;
  width: 36px;
  height: 36px;
  background-size: 400% 100%;
}

.github {
  background: url(../img/portfolio-spritesheet.png) no-repeat 67% 0;
  width: 36px;
  height: 36px;
  background-size: 400% 100%;
}

.twitter {
  background: url(../img/portfolio-spritesheet.png) no-repeat 100% 0;
  width: 36px;
  height: 36px;
  background-size: 400% 100%;
}

/*-----------------------------------------
Footer
-----------------------------------------*/
#rule {
  width: 100%;
  height: 1px;
  background-color: gray;
  margin-top: 80px;
  opacity: 0.25;
}

footer {
  position: absolute;
  bottom: 0px;
  font-size: 11pt;
  text-align: left;
  font-weight: 100;
  padding: 10px;
  width: 100%;
}

.anchor-footer {
  margin: 0 auto;
  padding: 20px;
}

/*-----------------------------------------
Grid
-----------------------------------------*/
.fourths {
  float: left;
  width: 25%;
}

.thirds {
  float: left;
  width: 33.3%;
}

.half {
  float: left;
  width: 50%;
}

/*-----------------------------------------
Breakpoints
-----------------------------------------*/

/*large*/
@media only screen and (min-width: 1366px) {

  .large-quarters {
    float: left;
    width: 25%;
  }

  .large-thirds {
    float: left;
    width: 33.3%;
  }

  .large-half {
    float: left;
    width: 50%;
  }

  .large-whole {
    float: left;
    width: 100%;
  }
}

/*medium*/
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  .medium-quarters {
    float: left;
    width: 25%;
  }

  .medium-thirds {
    float: left;
    width: 33.3%;
  }

  .medium-half {
    float: left;
    width: 50%;
  }

  .medium-whole {
    float: left;
    width: 100%;
  }
}

/*small*/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .small-quarters {
    float: left;
    width: 25%;
  }

  .small-thirds {
    float: left;
    width: 33.3%;
  }

  .small-half {
    float: left;
    width: 50%;
  }

  .small-whole {
    float: left;
    width: 100%;
  }
}

/*mobile*/
@media only screen and (min-width: 0px) and (max-width: 768px) {
  .mobile-quarters {
    float: left;
    width: 25%;
  }

  .mobile-thirds {
    float: left;
    width: 33.3%;
  }

  .mobile-half {
    float: left;
    width: 50%;
  }

  .mobile-whole {
    float: left;
    width: 100%;
  }

  #scroll {
    margin-top: 200px;
  }
}

/*tablet*/
@media only screen and (min-width: 569px) and (max-width: 768px) {
  .tablet-quarters {
    float: left;
    width: 25%;
  }

  .tablet-thirds {
    float: left;
    width: 33.3%;
  }

  .tablet-half {
    float: left;
    width: 50%;
  }

  .tablet-whole {
    float: left;
    width: 100%;
  }
}

/*landscape*/
@media only screen and (min-width: 321px) and (max-width: 568px) {
  .landscape-quarters {
    float: left;
    width: 25%;
  }

  .landscape-thirds {
    float: left;
    width: 33.3%;
  }

  .landscape-half {
    float: left;
    width: 50%;
  }

  .landscape-whole {
    float: left;
    width: 100%;
  }
}

/*portrait*/
@media only screen and (max-width: 320px) {
  .portrait-quarters {
    float: left;
    width: 25%;
  }

  .portrait-thirds {
    float: left;
    width: 33.3%;
  }

  .portrait-half {
    float: left;
    width: 50%;
  }

  .portrait-whole {
    float: left;
    width: 100%;
  }
}