<%= partial "anchor-nav" %>

<div class="portfolio-header"></div>

<h1><%= piece_name %></h1>

<p>Brand Identity & UI Design</p>

<div class="portfolio-description mobile-whole small-half medium-half large-half">
  <h1>The Challenge</h1>
  <p>Combining all of your family photos from mobile phones and computers is an ever growing problem. Just Family is an app that allows people to combine and organize photos from everyone in their household and access them from anywhere.</p>
</div>

<div class="portfolio-description mobile-whole small-half medium-half large-half">
  <h1>The Challenge</h1>
  <p>Combining all of your family photos from mobile phones and computers is an ever growing problem. Just Family is an app that allows people to combine and organize photos from everyone in their household and access them from anywhere.</p>
</div>


