<!-- Navbar -->
<a href="#nav" class="menu-link">Menu</a>
  
<ul>
  <li><a href="#services">Services</a></li>
  <li><a href="#works">Works</a></li>
  <li><a href="#about">About</a></li>
  <li><a href="#skills">Skills</a></li>
  <li><a href="#contact">Contact</a></li>
</ul>