---
title: Ellie Hoshizaki | Web Developer & Designer
---

<!-- new content -->
  <div class="home">

    <div id="blackBackdrop" onload="fadeIn(this)">

      <div class="bounceIn" id="introText">  
        <div id="introName">
          <img src="img/titletext.svg"/>
          <span>Front End Developer | UX/UI Designer</span>
        </div>     
        <a href="#services"><img src="img/scroll-icon.svg" id="scroll"></img></a>
      </div>

      <div id="landing-content">
      </div>
      <div id="movement2">
      </div>
      <div id="movement3">
      </div>

    </div>

  </div>

  <!-- Navbar -->
  <div id="nav-container">
    <a href="#nav" class="menu-link"><img src="img/hamburger.svg"></img></a>
    <nav id="nav">
      <!-- <a href="#"><img src="img/EH_logo.svg" id="logo"/></a> -->
      <ul>
        <li><a href="#services">What I Do</a></li>
        <li><a href="#works">Works</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </div>

  <div id="services">
    <span class="title">what i love to do</span>
    <div class="row" id="servicesContainer">
      <div class="mobile-whole small-thirds medium-thirds large-thirds">
        <div class="servicesIcon">
          <img src="img/uxicon.svg"/>
        </div>
        UX Design
      </div>
      <div class="mobile-whole small-thirds medium-thirds large-thirds">
        <div class="servicesIcon">
          <img src="img/codeicon.svg"/>
        </div>
        Front End Development
      </div>
      <div class="mobile-whole small-thirds medium-thirds large-thirds">
        <div class="servicesIcon">
          <img src="img/uiicon.svg"/>
        </div>
        UI Design
      </div>
    </div>
  </div>


  <div id="works">

      <a href='/portfolio/peek'>
        <div class="overlay large-quarters medium-quarters small-half mobile-half" data-content="Peek">
          <img src="img/peek1.jpg" class="large-quarters medium-quarters small-half mobile-half"/>
        </div>
      </a>

      <a href='/portfolio/stylelust'>
        <div class="overlay large-quarters medium-quarters small-half mobile-half" data-content="StyleLust">
          <img src="img/StyleLust1.jpg" class="large-quarters medium-quarters small-half mobile-half"/>
        </div>
      </a>

      <a href='/portfolio/pillstagram'>
        <div class="overlay large-quarters medium-quarters small-half mobile-half" data-content="Pillstagram">
          <img src="img/Pillstagram1.png" class="large-quarters medium-quarters small-half mobile-half"/>
        </div>
      </a>
      
      <a href='portfolio/muselab'>
        <div class="overlay large-quarters medium-quarters small-half mobile-half" data-content="MuseLab">
          <img src="img/muselab.png" class=" large-quarters medium-quarters small-half mobile-half"/>
        </div>
      </a>

      <a href='portfolio/inbetween'>
        <div class="overlay large-quarters medium-quarters small-half mobile-half" data-content="inBetween">
          <img src="img/inBetween.png" class=" large-quarters medium-quarters small-half mobile-half"/>
        </div>
      </a>

      <a href='portfolio/goldghoststudio'>
        <div class="overlay large-quarters medium-quarters small-half mobile-half" data-content="Gold Ghost">
          <img src="img/GoldGhostSquare.jpg" class="large-quarters medium-quarters small-half mobile-half"/>
        </div>
      </a>

      <a href='portfolio/geospec'>
        <div class="overlay large-quarters medium-quarters small-half mobile-half" data-content="GeoSpec">
          <img src="img/GeoSpec.jpg" class=" large-quarters medium-quarters small-half mobile-half"/>
        </div>
      </a>

      <a href='portfolio/fractalhouse'>
        <div class="overlay large-quarters medium-quarters small-half mobile-half" data-content="House">
          <img src="img/houseicon.gif" class=" large-quarters medium-quarters small-half mobile-half"/>
        </div>
      </a>
  </div>

  <div id="skills">
    <span class="title">my skillset</span>
    <div id="skillSection">
    <div class="skillTitle mobile-whole small-thirds medium-thirds large-thirds">
      <h6>
        Web Development
      </h6>

      <ul>
        <li>JavaScript</li>
        <li>Ruby on Rails</li>
        <li>Node.js</li>
        <li>Angular.js</li>
        <li>Famo.us</li>
      </ul>
    </div>
    
    <div class="skillTitle mobile-whole small-thirds medium-thirds large-thirds">
      <h6>
        UI Design
      </h6>

      <ul>
        <li>PhotoShop</li>
        <li>Illustrator</li>
        <li>InDesign</li>
        <li>Sketch</li>
      </ul>
    </div>

    <div class="skillTitle mobile-whole small-thirds medium-thirds large-thirds">
      <h6>
        UX Design
      </h6>

      <ul>
        <li>Omnigraffle</li>
        <li>Axure</li>
        <li>Balsamiq</li>
        <li>Edge Reflow</li>
      </ul>
    </div>

    </div>
  </div>

  <div id="about">
    <img src="img/elenaphotocrop.jpg" id="aboutImage"></img>
    <span class="title">about me</span>
    <div class="spacer"></div>
    <div id="aboutSection">
      <div id="aboutDescription">
        Hi!
        <br><br>
        I'm Ellie, a UX/UI designer and front end web developer with a BA in Architecture from UCLA.
        <br><br>
        I build clean code to create interactive and intuitive designs with the end user always in mind.
      </div>
    </div>


    <div id="resume">
      Want to know more?<br>
      <a href="http://elliehoshizaki.com/img/EH_R%C3%A9sum%C3%A9.pdf" target='_blank'>
        <button class="btn-default">
          View Résumé
        </button>
      </a>
    </div>

  </div>

  <div id="contact">
    <div id="contactContainer">

      <div class="mobile-whole small-thirds medium-thirds large-thirds">
        Ellie Hoshizaki
        <br>
        Los Angeles, CA
      </div>
      <div class="mobile-whole small-thirds medium-thirds large-thirds">
        Let's Talk
        <br>
        elena.hoshizaki@gmail.com
        <br>
        310.383.0801
      </div>
      <div class="social-container mobile-whole small-thirds medium-thirds large-thirds">
        Connect
        <br>
        <a href="http://www.linkedin.com/in/elliehoshizaki" target="_blank">
          <div class="social-icons linkedin">
          </div>
        </a>
        <a href="https://github.com/elliehoshi" target="_blank">
          <div class="social-icons github">
          </div>
        </a>
        <a href="https://twitter.com/ehoshizaki" target="_blank">
          <div class="social-icons twitter">
          </div>
        </a>
      </div>

    </div>
    <footer>
      <div id="rule"></div>
      <h6>&copy; 2015 Designed and built by Ellie Hoshizaki.</h6>
    </footer>
  </div>
